body{
    font-family: Arial, sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.a{
    padding-left: 0%;
    display: inline-flex;
}
.L1{
    padding-left: 110px;
}
.btn{
    position: relative;
    display: inline-block;
    border: transparent;
    background-color: transparent;
    font-weight: 700;
    font-size: large;
    margin: 20px 30px;
    cursor: pointer;

}
.b{
    width: 300px;
    height: 360px;
    padding: 18px;
    background-color: lightsalmon;
    margin: 0 auto;
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 4px;
}
input{
    width: 85%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #000;
    
}
.b5{
    background-color: darkturquoise;
    color: white;
    padding: 14px 20px;
    margin: 8px 70px;
    cursor: pointer;
    border: none;
    font-size: medium;
    width: 50%;
    border-radius: 20px;

}
.b5:hover{
    opacity: 0.5;
    
}
.c{
  position: relative;
  right: 122px;
  cursor: pointer;
}
.c1{
    position: relative;
    left: 15px;
    bottom: 25px;
}
