.a1{
    width: 100%;
    height: 100%;
}
table{
    width: 1425px; 
}
.t1{
    position: fixed;
    padding-left: 50px;
    bottom: 86%;
}
.D2{
    padding-left: 30%;
    display: inline-flex;
}

.btn{
    position: relative;
    display: inline-block;
    border: transparent;
    background-color: transparent;
    font-weight: 700;
    text-decoration: none;
    flex: 0;
    margin: 10px 30px;
    color: lightgreen;
    font-size: medium; 
    cursor: pointer;
    padding-top: 20px; 
}
.I1{
    width: 25px;
    height: 25px;
    padding: 5px;
    padding-top: 25px;
   
}
.t3{
    position: relative;
    left: 100px;
    display: inline-flex;
    padding-left: 30%;
   
}
body {
    background-image: url('images/book.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   }
.btn:hover{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: khaki;
    color: darkviolet;
    font-style: italic;
    transition: 0.8s;
    transition-delay: 0.1s;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
