*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color: antiquewhite;  
}
.hero{
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
    
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 200px;
    cursor: pointer;
}
nav .menu-img{
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    margin-right: 150px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;  
    color: #000;
    font-weight: 700;
    position: relative;
    padding: 10px;
}

nav ul li a:active{
    background-color: blueviolet;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    position: relative;
}
.feature-img{
    width: 100%;
    margin-top: 10px;
}
.thumb-img{
    width: 340px;
    position: absolute;
    left: -30%;
    bottom: -27%;
    border-radius: 8px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}
.col h1{
    margin-top: 125px;
    font-size: 40px;
    font-weight: 600;
}
.b1{
    border: transparent;
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 30px;
    background: #21d375;
    font-size: larger;
    font-weight: bolder;
    margin-top: 7%;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}
.b1:active{
    background-color: transparent;
}
.b2{
    text-decoration: none;  
    color: #000;
    font-size: large;
    font-weight: 1000;
    position: relative;
    padding: 10px;
    border: transparent;
}
.b2:hover{
    padding-top: 25px;
    background-color: #21d375;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:  0.8s;    
}